.App {
  font-family: sans-serif;
  text-align: center;
}

.post-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 4rem;
  /* border-radius: 19px; */
  text-align: center;
  font-family: "monospace";
  width: 170px;
  display: inline-block;
  margin: 3rem 3rem;
}

.heading {
  font-family: "monospace";
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem 1rem;
  padding: 1.5rem;
}

.user-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 3rem;
  /* border-radius: 19px; */
  text-align: center;
  font-family: "monospace";
  font-size: 1.2rem;
  overflow-wrap: break-word;
  margin: 3rem auto;
  width: 70%;
}

.user-img {
  border-radius: 40px;
}

.refresh-btn {
  font-size: 16px;
  font-weight: bold;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: block;
  margin: 0 auto 10rem;
}

.refresh-btn:after {
  content: "";
  background-color: #81b622;
  color: white;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.refresh-btn:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .refresh-btn {
    padding: 13px 50px 13px;
  }
}
